/* Parts of website  */
body {
    background-color: white;
    margin: 0 auto;
    padding: 0;
}
header {
    width: 100%;
    text-align: center;
}
nav, main, aside {
    float: left;
}

main {
    text-align: center;
    margin: 0 auto;
}

footer {
    clear: both;
    width: 100%;
    text-align: center;
}

/* Elements of webstie */

table {
    text-align: center;
    border: 1px solid black;
}
table > tbody > tr > td {
    width: 20px;
}
.zero {
    background-color: white;
}
.one {
    background-color: black;
}